//Script di risorse generato da Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Generato dalla risorsa TEXTINCLUDE.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ITA)
LANGUAGE 16, 1

/////////////////////////////////////////////////////////////////////////////
//
// Icona
//

// L'icona con il valore ID più basso viene posizionata per prima per garantire che l'icona dell'applicazione
// rimanga la stessa in tutti i sistemi.

IDI_XMLREAD       ICON         "FatturaView.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_XMLREAD MENU
BEGIN
    POPUP "   &File"
    BEGIN
        MENUITEM "&Apri file fattura...",             IDM_OPEN_ZIP
        MENUITEM SEPARATOR
        MENUITEM "Stampa fatture selezionate (PDF)", IDM_PRINT_SELECTED
        MENUITEM SEPARATOR
        MENUITEM "&Esci",                           IDM_EXIT
    END
    POPUP "   &Visualizza"
    BEGIN
        MENUITEM "Applica foglio stile &Ministero",     IDM_APPLY_MINISTERO
        MENUITEM "Applica foglio stile &Assosoftware",  IDM_APPLY_ASSOSOFTWARE
    END
    POPUP "   &Impostazioni"
    BEGIN
        MENUITEM "&Seleziona foglio di stile...", IDM_SETTINGS_SELECT_STYLESHEET
    END
    POPUP "   &?"
    BEGIN
        MENUITEM "&Controlla aggiornamenti...", IDM_CHECK_UPDATES
        MENUITEM SEPARATOR
        MENUITEM "&Informazioni su...",         IDM_ABOUT
        MENUITEM "&Licenza",                    IDM_SHOW_LICENSE
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Tasto di scelta rapida
//

IDC_XMLREAD ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Finestra di dialogo
//

IDD_ABOUTBOX DIALOGEX 0, 0, 280, 140
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informazioni su FatturaView"
FONT 10, "Segoe UI"
BEGIN
    ICON            IDI_XMLREAD,IDC_STATIC,18,18,21,20
    LTEXT           "FatturaView - Visualizzatore Fatture Elettroniche",IDC_STATIC,50,14,216,10,SS_NOPREFIX
    LTEXT           "Versione 1.2.0",IDC_STATIC,50,28,216,10
    LTEXT           "Autore: Roberto Ferri",IDC_STATIC,50,42,216,10
    LTEXT           "Copyright (c) 2026",IDC_STATIC,50,56,216,10
    CONTROL         "<a href=""https://www.fatturaview.it"">www.fatturaview.it</a>",IDC_ABOUT_SYSLINK,"SysLink",WS_CHILD|WS_VISIBLE|WS_TABSTOP,50,72,216,12
    LTEXT           "Lettore di FatturaPA XML con fogli di stile",IDC_STATIC,18,92,248,10
    DEFPUSHBUTTON   "OK",IDOK,210,116,56,18,WS_GROUP
END

IDD_STYLESHEET_SELECTOR DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Seleziona Foglio di Stile"
FONT 10, "Segoe UI"
BEGIN
    LTEXT           "Seleziona il foglio di stile da utilizzare:",IDC_STATIC,16,12,368,10
    LISTBOX         IDC_STYLESHEET_LIST,16,28,368,168,LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_STYLESHEET_PREVIEW,16,202,368,10
    DEFPUSHBUTTON   "OK",IDOK,274,226,56,18
    PUSHBUTTON      "Annulla",IDCANCEL,336,226,56,18
END

IDD_PDF_SIGN_CONFIG DIALOGEX 0, 0, 440, 310
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configurazione Firma Digitale PDF"
FONT 10, "Segoe UI"
BEGIN
    GROUPBOX        "Certificato Digitale",IDC_STATIC,16,12,408,100
    CONTROL         "Abilita firma digitale automatica dei PDF",IDC_ENABLE_SIGNING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,28,28,220,12
    LTEXT           "Percorso certificato (.pfx/.p12):",IDC_STATIC,28,48,180,10
    EDITTEXT        IDC_CERT_PATH,28,62,320,16,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Sfoglia...",IDC_CERT_BROWSE,356,62,60,16
    LTEXT           "Password certificato:",IDC_STATIC,28,84,180,10
    EDITTEXT        IDC_CERT_PASSWORD,28,98,220,16,ES_PASSWORD | ES_AUTOHSCROLL

    GROUPBOX        "Informazioni Firma",IDC_STATIC,16,122,408,148
    LTEXT           "Motivo della firma:",IDC_STATIC,28,140,180,10
    EDITTEXT        IDC_SIGN_REASON,28,154,384,16,ES_AUTOHSCROLL
    LTEXT           "Località:",IDC_STATIC,28,176,180,10
    EDITTEXT        IDC_SIGN_LOCATION,28,190,384,16,ES_AUTOHSCROLL
    LTEXT           "Contatto:",IDC_STATIC,28,212,180,10
    EDITTEXT        IDC_SIGN_CONTACT,28,226,384,16,ES_AUTOHSCROLL
    LTEXT           "Nota: La firma digitale richiede PowerShell e .NET Framework",IDC_STATIC,28,248,380,10

    DEFPUSHBUTTON   "Salva",IDOK,270,284,76,20
    PUSHBUTTON      "Annulla",IDCANCEL,352,284,76,20
END

IDD_LICENSE_DIALOG DIALOGEX 0, 0, 520, 420
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Licenza MIT"
FONT 10, "Segoe UI"
BEGIN
    EDITTEXT        IDC_LICENSE_TEXT,10,10,500,368,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,420,386,88,24,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Tabella di stringhe
//

STRINGTABLE
BEGIN
   IDC_XMLREAD   "XMLREAD"
   IDS_APP_TITLE       "FatturaView - Visualizzatore Fatture Elettroniche"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generato dalla risorsa TEXTINCLUDE.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
