//Script di risorse generato da Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Generato dalla risorsa TEXTINCLUDE.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ITA)
LANGUAGE 16, 1

/////////////////////////////////////////////////////////////////////////////
//
// Icona
//

// L'icona con il valore ID più basso viene posizionata per prima per garantire che l'icona dell'applicazione
// rimanga la stessa in tutti i sistemi.

IDI_XMLREAD       ICON         "FatturaView.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_XMLREAD MENU
BEGIN
    POPUP "   &File"
    BEGIN
        MENUITEM "&Apri file fattura...",             IDM_OPEN_ZIP
        MENUITEM SEPARATOR
        MENUITEM "Stampa fatture selezionate (PDF)", IDM_PRINT_SELECTED
        MENUITEM SEPARATOR
        MENUITEM "&Esci",                           IDM_EXIT
    END
    POPUP "   &Visualizza"
    BEGIN
        MENUITEM "Applica foglio stile &Ministero",     IDM_APPLY_MINISTERO
        MENUITEM "Applica foglio stile &Assosoftware",  IDM_APPLY_ASSOSOFTWARE
    END
    POPUP "   &Impostazioni"
    BEGIN
        MENUITEM "&Seleziona foglio di stile...", IDM_SETTINGS_SELECT_STYLESHEET
    END
    POPUP "   &?"
    BEGIN
        MENUITEM "&Informazioni su...",         IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Tasto di scelta rapida
//

IDC_XMLREAD ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Finestra di dialogo
//

IDD_ABOUTBOX DIALOGEX 0, 0, 230, 112
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Informazioni su FatturaView"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_XMLREAD,IDC_STATIC,14,14,21,20
    LTEXT           "FatturaView - Visualizzatore Fatture Elettroniche",IDC_STATIC,42,10,174,8,SS_NOPREFIX
    LTEXT           "Versione 1.0.0",IDC_STATIC,42,22,174,8
    LTEXT           "Autore: Roberto Ferri",IDC_STATIC,42,34,174,8
    LTEXT           "Copyright (c) 2026",IDC_STATIC,42,46,174,8
    CONTROL         "<a href=""https://www.fatturaview.it"">www.fatturaview.it</a>",IDC_ABOUT_SYSLINK,"SysLink",WS_CHILD|WS_VISIBLE|WS_TABSTOP,42,58,174,10
    LTEXT           "Lettore di FatturaPA XML con fogli di stile",IDC_STATIC,14,72,202,8
    DEFPUSHBUTTON   "OK",IDOK,170,94,50,14,WS_GROUP
END

IDD_STYLESHEET_SELECTOR DIALOGEX 0, 0, 360, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Seleziona Foglio di Stile"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Seleziona il foglio di stile da utilizzare:",IDC_STATIC,14,10,332,8
    LISTBOX         IDC_STYLESHEET_LIST,14,24,332,150,LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_STYLESHEET_PREVIEW,14,180,332,8
    DEFPUSHBUTTON   "OK",IDOK,250,199,50,14
    PUSHBUTTON      "Annulla",IDCANCEL,304,199,50,14
END

IDD_PDF_SIGN_CONFIG DIALOGEX 0, 0, 400, 280
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configurazione Firma Digitale PDF"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Certificato Digitale",IDC_STATIC,14,10,372,90
    CONTROL         "Abilita firma digitale automatica dei PDF",IDC_ENABLE_SIGNING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,24,200,10
    LTEXT           "Percorso certificato (.pfx/.p12):",IDC_STATIC,24,42,150,8
    EDITTEXT        IDC_CERT_PATH,24,54,300,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Sfoglia...",IDC_CERT_BROWSE,330,54,50,14
    LTEXT           "Password certificato:",IDC_STATIC,24,74,150,8
    EDITTEXT        IDC_CERT_PASSWORD,24,86,200,14,ES_PASSWORD | ES_AUTOHSCROLL

    GROUPBOX        "Informazioni Firma",IDC_STATIC,14,110,372,130
    LTEXT           "Motivo della firma:",IDC_STATIC,24,126,150,8
    EDITTEXT        IDC_SIGN_REASON,24,138,352,14,ES_AUTOHSCROLL
    LTEXT           "Località:",IDC_STATIC,24,158,150,8
    EDITTEXT        IDC_SIGN_LOCATION,24,170,352,14,ES_AUTOHSCROLL
    LTEXT           "Contatto:",IDC_STATIC,24,190,150,8
    EDITTEXT        IDC_SIGN_CONTACT,24,202,352,14,ES_AUTOHSCROLL
    LTEXT           "Nota: La firma digitale richiede PowerShell e .NET Framework",IDC_STATIC,24,220,340,8

    DEFPUSHBUTTON   "Salva",IDOK,240,256,70,18
    PUSHBUTTON      "Annulla",IDCANCEL,316,256,70,18
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Tabella di stringhe
//

STRINGTABLE
BEGIN
   IDC_XMLREAD   "XMLREAD"
   IDS_APP_TITLE       "FatturaView - Visualizzatore Fatture Elettroniche"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generato dalla risorsa TEXTINCLUDE.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
